{% extends "base.html" %}

{% block content %}
  <h1>Django Channels</h1>
  <p class="deck">
    This is a super cool Django project using <a href="http://channels.readthedocs.org/en/latest/">
    Django Channels</a> to implement a simple WebSocket-based chat server.
    As of September 19, 2016, it also uses Channels as an asynchronous task queue to help run a time intensive web scraper.
    It then uses Channels to stream the output of the  scraper to the end user via WebSockets.
    You can see the <a href="https://github.com/jeffthemaximum/xshovel">
    code on GitHub</a>, or try the app:
  </p>
  <div class="row">
    <div class="six columns">
      <h3>Chat</h3>
      <p>
        <a class="button button-primary" href="{% url 'chats:new_room' %}">Create new chat room</a>
      </p>
      <p class="quiet">
        Or, you can visit <code>{{ request.scheme }}://{{ request.get_host }}/any-path-you-want</code> 
        to create a arbitrary room or join one whose name you know.
      </p>
    </div>
    <div class="six columns">
      <h3>Scraper</h3>
      
      <form action="{% url 'scraper:new' %}" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="twelve columns">
            <label for="sheetName">Sheet Name</label>
            {{ form.name }}
          </div>
        </div>
        <input class="button-primary" type="submit" value="Submit">
      </form>
      
      <p class="quiet">
        <ul class="quiet">
          <li>Make a Google Spreadsheet</li>
          <li>Make sure you have a sheet with <b>wiley</b> in it's sheet name</li>
          <li>Share your Google Spreadsheet with <b>123114053576-compute@developer.gserviceaccount.com</b></li>
          <li>Make a column titled <b>pageUrl</b> on the 'wiley' sheet</li>
          <li>Fill your Wiley url's in that column</li>
          <li>Enter the spreadsheet name in the form above. Submit!</li>
          <li>You're done. Enjoy the magic. Or maybe not, cuz it might not work, too.</li>
        </ul>
      </p>
    </div>
  </div>
  
{% endblock content %}